body {
  background: rgb(204, 243, 243);
}

h1 {
  text-align: center;
  font-size: 48px;
}

p {
  text-align: center;
  font-size: 18px;
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

img {
  display: block;
  margin: 10px auto;
}
